body {
  background-image: url("../images/fondo.png");
  background-size: contain;
  background-repeat: repeat;
  background-position: center;
  color: white;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Verdana, sans-serif;
  padding: 0px;
  margin: 0;
}
@font-face {
  font-family: "pokemon";
  src: url(/fonts/Pokemon\ Hollow.ttf);
  src: url(/fonts/Pokemon\ Solid.ttf);
}
/* ENCABEZADO --------------------------------------------------------- */
.encabezado {
  display: flex;
  height: 150px;
  background: black;
  justify-content: center;
  align-items: center;
}
.encabezado h1 {
  font-size: 65px;
  font-family: "pokemon", sans-serif;
  color: #ffcb05;
}
.logoencabezado {
  display: flex;
  position: absolute;
  left: 20px;
}
.logoencabezado img {
  height: 120px;
  width: 120px;
  border-radius: 15px;
}
.container {
  display: flex;
  justify-content: center;
  gap: 120px;
}
.sobres img {
  width: 100%;
  height: 475px;
  width: 400px;
  box-shadow: 27px 14px 14px black;
}
.textindex {
  font-style: "Pokémon Solid" "Pokémon Hollow";
}
h2 {
  background: black;
  margin: 30px;
  border: 3px solid white;
  border-radius: 10px;
}
.s151 img {
  height: 500px;
  width: 300px;
}
.sobrevolving img {
  height: 500px;
  width: 300px;
}
.hola img {
  height: 470px;
  width: 300px;
  margin: 20px;
  box-shadow: 20px 10px 10px black;
  padding-top: 30px;
}
.imagenzoom img {
  transition: 0.4s ease;
}
.imagenzoom img:hover {
  transform: scale(1.1);
}
.pfates img {
  height: 500px;
  width: 300px;
}
.prift img {
  height: 500px;
  width: 300px;
}
.evosk img {
  padding-top: 30px;
  height: 500px;
  width: 300px;
  margin: 20px;
  transition: 0.4s ease;
}
.evosk img:hover {
  transform: scale(1.1);
}
.evoskcontainer {
  display: flex;
  justify-content: center;
  gap: 120px;
}
.textoevosk {
  margin-top: 30px;
  font-size: 20px;
  background: black;
  border-radius: 10px;
  padding: 1px;
  background: linear-gradient(#000000, #353535);
}
.container151 {
  display: flex;
  justify-content: center;
  gap: 120px;
}
.textoprif {
  margin-top: 30px;
  font-size: 20px;
  background: black;
  border-radius: 10px;
  padding: 1px;
  background: linear-gradient(#000000, #353535);
}
.Volver {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 1500px;
  margin-bottom: 20px;
  font-size: 20px;
  background: linear-gradient(#000000, #353535);
  border-radius: 10px;
  padding: 1px;
}
.quitar a {
  color: inherit;
  text-decoration: none;
}
/* Cartas solas */
.texto{
  margin-top: 10px;
  font-size: 20px;
}
